{% extends 'base.html.twig' %}

{% block title %}Hello JobsController!{% endblock %}

{% block body %}
        <h2>Modifier l'annonce pour "{{ job[0].denomination }}"</h2>
        <div class='datesJob'>
            <h3> Annonce publiée le : {{ job[0].created|date('d-m-Y') }}</h3>
            <h3> Expire le : {{ job[0].expire|date('d-m-Y') }}</h3>
            <a href='/upJob?jobId={{ job[0].id }}' target='_blank'><button> Actualiser L'annonce </button></a>
        </div>
        <form action='/' method='POST'>
        <p>
            <label for='cat'>Catégorie</label>
            <select name='cat'>
                <option value=''>--Choisir Catégorie--</option>
                {% for cat in categs %}
                    {% if cat.nom == job[0].categorieId.nom %}
                        <option value='{{ cat.id }}' selected='selected'>{{ cat.nom }}</option>
                    {% else %}
                        <option value='{{ cat.id }}'>{{ cat.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        <p>
            <label for='contrat'>Contrat</label>
                {% if job[0].contrat == 'CDD' %}
                    <input type='radio' value='CDD' name='contrat' checked>CDD
                {% else %}
                    <input type='radio' value='CDD' name='contrat'>CDD
                {% endif %}
                {% if job[0].contrat == 'CDD' %}
                    <input type='radio' value='CDI' name='contrat' checked>CDI
                {% else %}
                    <input type='radio' value='CDI' name='contrat'>CDI
                {% endif %}
                {% if job[0].contrat == 'stage' %}
                    <input type='radio' value='stage' name='contrat' checked>Stage
                {% else %}
                    <input type='radio' value='stage' name='contrat'>Stage
                {% endif %}
        </p>
        <p>
            <label for='entreprise'>Entreprise</label>
            <input type='text' name='entreprise' required value='{{ job[0].entreprise }}'>
        </p>
        <p>
            <label for='logo'>Logo</label>
            <input type='file' name='logo' required> /!\
        </p>
        <p>
            <label for='URL'>URL</label>
            <input type='text' name='URL' required value='{{ job[0].url }}'>
        </p>
        <p>
            <label for='ville'>Ville</label>
            <input type='text' name='ville' required value='{{ job[0].lieu }}'>
        </p>
        <p>
            <label for='pays'>Pays</label>
            <input type='text' name='pays' required value='{{ job[0].pays }}'>
        </p>
        <p>
            <label for='mail'>Email</label>
            <input type='text' name='mail' required value='{{ job[0].email }}'>
        </p>
        <p>
            <label for='denomination'>Intitulé Poste</label>
            <input type='text' name='denomination' required value='{{ job[0].denomination }}'>
        </p>
        <p>
            <label for='desc'>Description</label>
            <textarea name='desc' row='4' cols='30' required>
            {{ job[0].description }}
            </textarea>
        </p>
        <p>
            <label for='postuler'>Infos postulant</label>
            <textarea name='postuler' row='4' cols='30' required>
            {{ job[0].postuler }}
            </textarea>
        </p>
        <input type='submit' value="Mettre à jours">
    </form>
{% endblock %}
